@media only screen and (min-width: 1920px) and (max-width: 2559px) {
    .slick-arrow.slick-prev:before{border-width: 25px 25px 25px 0;}
    .slick-arrow.slick-next:before{border-width: 25px 0 25px 25px;}
    .slider-text{font-size: 30px;}
    .home-btn{width:230px;}
    .top-logo{margin:60px 0 0;}
    .top-logo img{max-height: 270px;}
    .main-bg{background-size: 398px;}
    .cube{width:191px; height: 217px;font-size:36px;}
    .row-3 {top: 284px;}
    .row-4 {top: 452px;}
    .row-5 {top: 620px;}
    .row-6 {top: 788px;}
    .row-7 {top: 956px;}
    .row-8 {top: 1125px;}
    .row-9 {top: 1294px;} 
    .col-1{left: -1px;}
    .col-2{left: 198px;}
    .col-3{left: 397px;}
    .col-4{left: 596px;}
    .col-5{left: 795px;}
    .col-6{left: 994px;}
    .col-7{left: 1193px;}    
    .e-col-1 {left: -101px;}
    .e-col-2 {left: 98px;}
    .e-col-3 {left: 297px;}
    .e-col-4 {left: 496px;}
    .e-col-5 {left: 695px;}
    .e-col-6 {left: 894px;}
    .e-col-7 {left: 1093px;}
    .block1 {height: 1480px;}
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .slick-arrow.slick-prev:before{border-width: 20px 20px 20px 0;}
    .slick-arrow.slick-next:before{border-width: 20px 0 20px 20px;}
    .slider-text{font-size: 24px;}
    .home-btn{width:200px;}    
    .top-logo{margin:60px 0 0;}
    .top-logo img{max-height: 205px;}
    .main-bg{background-size: 300px;}
    .cube{width:144px; height: 162px;font-size:28px;}
    .row-3 {top: 214px;}
    .row-4 {top: 340px;}
    .row-5 {top: 467px;}
    .row-6 {top: 594px;}
    .row-7 {top: 721px;}
    .row-8 {top: 848px;}
    .row-9 {top: 974px;} 
    .col-1{left: -2px;}
    .col-2{left: 148px;}
    .col-3{left: 298px;}
    .col-4{left: 448px;}
    .col-5{left: 598px;}
    .col-6{left: 748px;}
    .col-7{left: 898px;}    
    .e-col-1 {left: -77px;}
    .e-col-2 {left: 73px;}
    .e-col-3 {left: 223px;}
    .e-col-4 {left: 373px;}
    .e-col-5 {left: 523px;}
    .e-col-6 {left: 673px;}
    .e-col-7 {left: 823px;}
    .block1 {height: 1110px;}
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .slick-arrow.slick-prev:before{border-width: 20px 20px 20px 0;}
    .slick-arrow.slick-next:before{border-width: 20px 0 20px 20px;}
    .slider-text{font-size: 24px;}
    .home-btn{width:170px;}
    .top-logo{margin:45px 0 0;}
    .top-logo img{max-height: 175px;}
    .main-bg{background-size: 268px;}
    .cube{width:129px; height: 144px;font-size:24px;}
    .row-3 {top: 192px;}
    .row-4 {top: 305px;}
    .row-5 {top: 418px;}
    .row-6 {top: 531px;}
    .row-7 {top: 644px;}
    .row-8 {top: 757px;}
    .row-9 {top: 871px;} 
    .col-1{left: -3px;}
    .col-2{left: 131px;}
    .col-3{left: 265px;}
    .col-4{left: 399px;}
    .col-5{left: 533px;}
    .col-6{left: 667px;}
    .col-7{left: 801px;}    
    .e-col-1 {left: -70px;}
    .e-col-2 {left: 64px;}
    .e-col-3 {left: 198px;}
    .e-col-4 {left: 332px;}
    .e-col-5 {left: 466px;}
    .e-col-6 {left: 600px;}
    .e-col-7 {left: 734px;}
    .block1 {height: 1000px;}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .slick-arrow.slick-prev:before{border-width: 20px 20px 20px 0;}
    .slick-arrow.slick-next:before{border-width: 20px 0 20px 20px;}
    .slider-text{font-size: 18px;}
    .home-btn{width:160px;}
    .top-logo{margin:35px 0 0;}
    .top-logo img{max-height: 145px;}
    .main-bg{background-size: 210px;}
    .cube{width:101px; height: 115px;font-size:20px;}
    .row-3 {top: 146px;}
    .row-4 {top: 235px;}
    .row-5 {top: 324px;}
    .row-6 {top: 413px;}
    .row-7 {top: 502px;}
    .row-8 {top: 591px;}
    .row-9 {top: 680px;} 
    .col-1{left: -3px;}
    .col-2{left: 102px;}
    .col-3{left: 207px;}
    .col-4{left: 312px;}
    .col-5{left: 417px;}
    .col-6{left: 521px;}
    .col-7{left: 626px;}    
    .e-col-1 {left: -55px;}
    .e-col-2 {left: 49px;}
    .e-col-3 {left: 154px;}
    .e-col-4 {left: 259px;}
    .e-col-5 {left: 364px;}
    .e-col-6 {left: 469px;}
    .e-col-7 {left: 574px;}
    .block1 {height: 780px;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.grid-left{width: 100%;}
    .grid-right{width: 100%;}
    .display-mob{display: block;}
    .slick-arrow{top: 73%;}
    .slick-arrow.slick-prev:before{border-width: 20px 20px 20px 0;left: 15vw;}
    .slick-arrow.slick-next:before{border-width: 20px 0 20px 20px;right: 15vw;}
    .slider-text{font-size: 28px;max-width: 55%;}
    .slider-image{height: auto;}
    .slider-image img{height:400px;}
    .logo {margin: 70px 0 20px; }
    .logo img{width:350px;}
    .home-btn{width:150px;}
    .top-logo{margin:35px 0 0; padding:0 5vw;}
    .top-logo img{max-height: 140px;}
    .main-bg{background-size: 235px;}
    .cube{width:114px; height: 128px;font-size:22px;}
    .row-3 {top: 165px;}
    .row-4 {top: 264px;}
    .row-5 {top: 363px;}
    .row-6 {top: 463px;}
    .row-7 {top: 562px;}
    .row-8 {top: 662px;}
    .row-9 {top: 761px;} 
    .col-1{left: -3px;}
    .col-2{left: 114px;}
    .col-3{left: 231px;}
    .col-4{left: 349px;}
    .col-5{left: 467px;}
    .col-6{left: 584px;}
    .col-7{left: 702px;}    
    .e-col-1 {left: -62px;}
    .e-col-2 {left: 55px;}
    .e-col-3 {left: 173px;}
    .e-col-4 {left: 290px;}
    .e-col-5 {left: 408px;}
    .e-col-6 {left: 526px;}
    .e-col-7 {left: 643px;}
    .block1 {height: 880px;margin-top: 400px;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .grid-left{width: 100%;}
    .grid-right{width: 100%;}
    .display-mob{display: block;}
    .slick-arrow{top: 70%;}
    .slick-arrow.slick-prev:before{border-width: 20px 20px 20px 0;left: 10vw;}
    .slick-arrow.slick-next:before{border-width: 20px 0 20px 20px;right: 10vw;}
    .slider-text{font-size: 18px;max-width: 55%;}
    .slider-image{height: auto;}
    .slider-image img{height:300px;}
    .logo {margin: 70px 0 20px; }
    .logo img{width:250px;}
    .home-btn{width:150px;}
    .top-logo{margin:20px 0 0; padding:0 5vw;}
    .top-logo img{max-height: 80px;}
    .main-bg{background-size: 145px;}
    .cube{width:70px; height: 78px;font-size:14px;}
    .row-3 {top: 100px;}
    .row-4 {top: 162px;}
    .row-5 {top: 223px;}
    .row-6 {top: 285px;}
    .row-7 {top: 346px;}
    .row-8 {top: 408px;}
    .row-9 {top: 469px;} 
    .col-1{left: -4px;}
    .col-2{left: 69px;}
    .col-3{left: 142px;}
    .col-4{left: 215px;}
    .col-5{left: 287px;}
    .col-6{left: 359px;}
    .col-7{left: 432px;}    
    .e-col-1 {left: -41px;}
    .e-col-2 {left: 32px;}
    .e-col-3 {left: 105px;}
    .e-col-4 {left: 178px;}
    .e-col-5 {left: 250px;}
    .e-col-6 {left: 323px;}
    .e-col-7 {left: 395px;}
    .block1 {height: 540px;margin-top: 300px;}
    
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
}

