// ***********************************
// Dealers
// ***********************************
.dealers{
    .top-content-outer {
        padding-bottom: 6px;
    }
}
.map-block-outer{
    img{
        display: block;
        width: 100%;
    }
}