// ***********************************
// References
// ***********************************
.references-block-outer{
    .grid-content h2{
        padding: 0 0 27px;
    }
    .reference-name{
        font-family: $main-fontIt;
        font-size: $size-base;
        line-height: 1;
        color: $color12;
        padding:12px 0 0;
    }
}